.blue-button {
	background-color: #1f2843;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	flex-wrap: wrap;
}
.blue-button:hover {
	background-color: white;
}